{% extends "base.html.twig" %}

{% block body %}
    <div class="my-3">
        <h1>Ajout de pays</h1>
        {% include "pays/_form.html.twig" with {submitLabel: "Ajouter", required:"required"} %}
    </div>
{% endblock %}