{% extends "base.html.twig" %}

{% block body %}
    <div class="mt-5">
        <h1>Modification des informations d'un athlète</h1>

        {% include "athlete/_form.html.twig" %}
    </div>
{% endblock %}